/Exploration/bike_regression/data/bike-sharing-demand/
/Study/DLwtPython/aclImdb_v1.tar.gz
/Study/DLwtPython/aclImdb/
/Study/DLwtPython/spa-eng/
/GoingDeeper/word_embedding/synopsis/
/GoingDeeper/KoChatGPT/data_kochatgpt/
/GoingDeeper/Aiffel_MainQuest4/model/
/GoingDeeper/Aiffel_MainQuest4/data/
